<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h2>velocity xxeezdd</h2>

  <!-- 页面对变量赋值  -->
  #set( $this = "Velocity")
  <!-- 输出 -->
  $this is great!  <br/>
  <!-- 输出后台context设置的参数 -->
  $name  <br/>
  today is $date  <br/>

  <!--String循环-->
  #foreach( $elem in $arrList)
    $elem</br>
  #end


</body>
</html>
