*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
bower_components/
npm-debug.log
.module-cache
.*.sw*
dist
*.pem
yarn.lock
package-lock.json
pnpm-lock.yaml
build
assembly/
logs
tmp


# c / c++
*.out

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
cmake-build-debug

# Eclipse for c++
.metadata
.settings
.cproject
.project
Debug
RemoteSystemsTempFiles


# Eclipse
.classpath
.settings/

# Intellij
.idea/
.idea.xml
*.iml
*.iws
*.ipr

# Maven
log/
target/

# other
out
bin
bak
.metadata
*.class
*.bak
tmp/
.tmp
.myeclipse/

velocity.log
velocity.log.1
