*.iml
*.log
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
_site
sea-modules
spm_modules
.cache
dist
build
.react_entries
config/map.json
run
app/views/layout/.tmplayout-*
.chair-react
.chair-atool
coverage
app/proxy-enums/
app/proxy_class_map.js
app/proxy/
logs
assembly/
mocks_data/proxy/**/__*
logs/
app/proxy-*
app/proxy.puml
tmp
