<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet/less" href="msg.less" type="text/css" />
  <script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
  <script type="text/ng-template" id=""></script>
  <script type="text/ng-template" id="/common/components/prcMsg.tpl.html">
    <div class="prc-message">
      <span class="prc-icon glyphicon glyphicon-{{vm.hasError ? 'remove' : 'ok'}}"></span>
      <span class="prc-icon-m" ng-transclude></span>
    </div>
  </script>

  <prc-msg has-error="hasError">
    <prc-msg-title ng-if="hasError">hasError</prc-msg-title>
    <prc-msg-title ng-if="!hasError">xxx</prc-msg-title>
    <prc-msg-des>
      {{hasError}} <br /> zz
    </prc-msg-des>
  </prc-msg>
  <prc-msg has-error="!hasError">
    <prc-msg-title>xxx</prc-msg-title>
  </prc-msg>

  <script>
    var app = angular.module('app', []);
    app.controller('ctrl', function($scope) {
      $scope.hasError = true;
    })

    app.directive('prcMsg', prcMsg);
    app.directive('prcMsgTitle', prcMsgTitle);
    app.directive('prcMsgDes', prcMsgDes);

    function prcMsg() {
      return {
        scope: {
          'hasError': '=?'
        },
        restrict: 'E',
        transclude: true,
        templateUrl: '/common/components/prcMsg.tpl.html',
        controller: ctrl,
        controllerAs: 'vm',
        bindToController: true
      };

      function ctrl() {
        var vm = this;
      }
    }

    function prcMsgTitle() {
      return {
        restrict: 'E',
        scope: false,
        transclude: true,
        replace: true,
        template: '<span class="prc-icon-m-title" ng-transclude></span>'
      }
    }

    function prcMsgDes() {
      return {
        restrict: 'E',
        scope: false,
        transclude: true,
        replace: true,
        template: '<span class="prc-icon-m-des" ng-transclude></span>'
      }
    }

  </script>
</body>
</html>
