<!doctype html>
<html ng-app="app">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.angularjs.org/1.0.8/angular.js"></script>
    <script src="carousel-tpls.js"></script>
</head>
<body>
    <div ng-controller="CarouselDemoCtrl">
      <div style="height: 305px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-info" ng-click="addSlide()">Add Slide</a>
        </div>
        <div class="col-md-6">
          Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
          <br />Enter a negative number to stop the interval.
        </div>
      </div>
    </div>
    
    <script>
        angular.module('app', ['ui.bootstrap']);

function CarouselDemoCtrl($scope) {
  $scope.myInterval = 5000;
  var slides = $scope.slides = [];
  $scope.addSlide = function() {
    var newWidth = 600 + slides.length;
    slides.push({
      image: 'http://placekitten.com/' + newWidth + '/300',
      text: ['More','Extra','Lots of','Surplus'][slides.length % 4] + ' ' +
        ['Cats', 'Kittys', 'Felines', 'Cutes'][slides.length % 4]
    });
  };
  for (var i=0; i<4; i++) {
    $scope.addSlide();
  }
}
    </script>
</body>
</html>