
        <div class="player">
            <div class="info">
                <span class="name"><%= name %></span>
                <span class="singer">--<%= singer %></span>
                <span class="lrc-btn">歌词</span>
                <audio class="none" src="<%= src %>"></audio>
            </div>
            <div class="ctrl">
                <span class="c-btn play"></span>
                <span class="proBar"><b></b></span>
                <span class="time"></span>
            </div>
            <div class="lrc none">
                <div class="lrc-text"><%= lrc %></div>
            </div>
        </div>