<!-- 左侧一级菜单 -->
<ul menu="left">
  <li ng-class="{active: vm.active(nav.state)}" ng-repeat="nav in vm.sidenav" menu-type="level:zero">
    <a ui-sref="{{nav.sref}}" menu-level="zero">
      <span icon="{{nav.icon}}"></span>
      <span class="text">{{nav.text}}</span>
    </a>
    <!-- //隐藏的菜单 -->
  </li>
</ul>

<!-- 右侧二级菜单，动态配置生成 -->
<ul menu="right">
  <li menu-type="level:zero" >
    <span menu-level="zero" ng-if="vm.menus.title">{{vm.menus.title}}</span>
    <a menu-level="zero" ng-if="vm.isSubmenu" ui-sref="appcenter.apps" menu-type="back">
      <span>返回</span>
    </a>
  </li>
  <li ng-repeat="menu in vm.menus.subset track by $index" ng-hide="menu.hidden" ui-sref-active="active" menu-type="level:one" ng-class="{'hide': menu.hide}">

    <!-- 非abstract的普通菜单  -->
    <a not-abstract ng-if="!menu.abstract" ui-sref="{{menu.sref}}" menu-level="one">
      <span>{{menu.text}}</span>
    </a>

    <!-- 如果是abstract，则认为是父菜单 -->
    <span abstract ng-if="menu.abstract" menu-level="one">
      <span>{{menu.text}}</span>
      <span icon="chevron-down" pull-right ng-if="menu.hide" ng-click="vm.hide(menu)"></span>
      <span icon="chevron-up" pull-right ng-if="!menu.hide" ng-click="vm.hide(menu)"></span>
    </span>

    <!-- 子菜单 -->
    <ul ng-if="menu.children" menu-type="parent:one">
      <li ng-repeat="c in menu.children track by $index" ng-hide="c.hidden" ng-class="{active: vm.active(c.highlightSref || c.sref)}" ng-hide="c.$$hide" menu-type="level:two" ng-class="{'hide': c.hide}">

        <a ui-sref="{{c.sref}}" menu-level="two" not-abstract ng-if="!c.abstract">
          <span class="fc-menu-text"> {{c.text}} </span>
        </a>

        <span abstract ng-if="c.abstract" menu-level="two">
          <span>{{c.text}}</span>
          <span icon="chevron-down" pull-right ng-if="c.hide" ng-click="vm.hide(c)"></span>
          <span icon="chevron-up" pull-right ng-if="!c.hide" ng-click="vm.hide(c)"></span>
        </span>

        <!-- 如果还包含子菜单 -->
        <ul ng-if="c.children" class="am-collapse am-fade fc-menu-child fc-menu-child-slide" menu-type="parent:two">
          <li ng-repeat="cc in c.children track by $index" ng-hide="cc.hidden" ui-sref-active="active" >
            <a ui-sref="{{cc.sref}}" menu-level="three">
              <span>{{cc.text}} </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
