*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
.vscode
yarn.lock
npm-debug.log*
package-lock.json
node_modules/
.buildpath
.settings
nohup.out
dist
coverage
typings/**/*.js
report.json
