.head
{
    width:1000px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    background-color:Blue;
}
.middle
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.left
{
    width:310px;
  
    float:left;
    margin-left:auto;
    margin-right:auto;
    background-color:Green;
}
.left_1
{
    width:300px;
    height:500px;
    background-color:Aqua;
}
.left_2
{
    width:300px;
    height:300px;
    background-color:Gray;
}
.left_3
{
    width:300px;
    height:500px;
    background-color:Red;
}
.left_4
{
    width:300px;
    height:200px;
    background-color:Fuchsia;
}
.right
{
    width:690px;
    height:1000px;
    float:left;
    background-color:Yellow;
}
.news_type
{
    width:690px;
    height:50px;
    background-color:Gray;
}
.new_news
{
    width:690px;
    height:500px;
    background-color:Aqua;
}
.hot_news
{
    width:690px;
    height:500px;
    background-color:Green;
}
.foot
{
    width:1000px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    background-color:Black;
}