@font-face
{
    font-family: MgOpen Modata;
    src: url(../../fonts/MGOPENM1.eot);
}
@font-face
{
    font-family: MgOpen Modata;
    src: url(../../fonts/MgOpenModataRegular.ttf);
}
HTML BODY
{
    padding-bottom: 0px;
    background-color: #000;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
    padding-right: 0px;
    font-family: arial;
    height: 100%;
    color: #6e6e6e;
    font-size: 10px;
    padding-top: 0px;
}
#header-bar
{
    z-index: 100;
    border-bottom: #191919 1px solid;
    line-height: 53px;
    background-color: #000;
    margin-bottom: 1px;
    height: 53px;
}
#header-bar A.site-loopback
{
    margin-top: 1px;
    text-indent: -9999px;
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    margin-left: -10px;
}
#header-bar .a3docean-preview-logo
{
    width: 200px;
    height: 52px;
}
#header-bar .aactiveden-preview-logo
{
   width: 191px;
    height: 52px;
}
#header-bar .athemeforest-preview-logo
{
    background-image: url(../images/loopback.png);
    width: 203px;
    height: 52px;
}
#header-bar .acodecanyon-preview-logo
{
    width: 203px;
    height: 52px;
}
#header-bar .atutsmarketplace-preview-logo
{
     width: 203px;
    height: 52px;
}
#header-bar P.meta-data
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    padding-top: 0px;
}
#header-bar P.meta-data P
{
    margin: 0px;
    display: inline;
}
#header-bar P.meta-data A
{
    color: #6e6e6e;
    text-decoration: none;
}
#header-bar P.meta-data A.purchase
{
    border-left: #6e6e6e 1px solid;
    padding-left: 15px;
    margin-left: 10px;
}
#header-bar P.meta-data A:hover
{
    color: #fff;
}
#header-bar P.meta-data A.activated
{
    color: #fff;
}
#header-bar SPAN.preview
{
    padding-left: 20px;
    display: none;
    font-family: MgOpen Modata, Tahoma, Geneva;
    /*background: url(http://0.envato-static.com/images/activeden/right-slide.png?1301463588) no-repeat 0px 1px;
    */letter-spacing: 1px;
    color: #d2d1d0;
    margin-left: 10px;
    font-size: 13px;
    text-decoration: none;
}
#header-bar DIV.close-header
{
    width: 40px;
    float: left;
    height: 52px;
    margin-left: 5px;
}

#header-bar DIV.close-header A#close-button:hover
{
    background-position: 0px -16px;
}
#header-bar DIV.close-header A.activated#close-button
{
    background-position: 0px -16px;
}
#preview-frame
{
    background-color: #fff;
    width: 100%;
}
